	<br>	
		{{#with footer}}
		<footer>
			<hr>
			<div> Сontact: </div>
				<div>
				{{#with social}}
					{{> link text=email.text href=email.href }}
					{{> link text=phone.text href=phone.href }}
					{{> link text=linkedin.text href=linkedin.href blank=true noLine=true }}
				{{/with}}
				</div>

			<br>
			<br>
				<div>
					<em>© {{../header/name/first}} {{../header/name/last}}</em>
				<br>
					<em><adress>{{../header/Address}}</adress></em>
				</div>


			{{!-- <a href="mailto:s.maslianyk@gmail.com"> Mail to Serhii Maslianyk </a> /
			<a href="tel:+380670000123"> My tell (Watsap)</a> /
			<a href="https://www.linkedin.com/in/dmytro-test" target="https://www.linkedin.com/in/serhii-maslianyk380939711233">My LinkedIn</a> --}}
			</footer>
		{{/with}}