    <nav>
		{{> link text="Summary" href="/summary" line=true }}
		{{> link text="Skills" href="/Skills" line=true }}
		{{> link text="education" href="/education" line=true }}	
		{{> link text="works" href="/works" line=true noLine=true }}
	</nav>
